<?xml version='1.0' encoding='utf-8'?>
<widget id="com.teteatete.coronel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tête a Tête</name>
    <description>
    Aplicativo do programa Tête a Tête
    </description>

    <author href="http://i9techsolucoes.com.br" email="vinicio@i9techsolucoes.com.br">
      Vinicio Pinheiro
  </author>
    <content src="index.html" />

    <!-- Allow links to example.com -->
    <allow-navigation href="http://listfy.com.br/*" />
    
    <!-- Wildcards are allowed for the protocol, as a prefix
         to the host, or as a suffix to the path -->
    
    
    <!-- A wildcard can be used to whitelist the entire network,
         over HTTP and HTTPS.
         *NOT RECOMMENDED* -->
    <allow-navigation href="*" />
    
    <!-- The above is equivalent to these three declarations -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
     <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <access origin="whatsapp:*" launch-external="yes" />

   <!-- for iOS -->
<feature name="SocialSharing">
  <param name="ios-package" value="SocialSharing" />
</feature>
<!-- for Android (you will find one in res/xml) -->
<feature name="SocialSharing">
  <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
</feature>
<!-- for Windows Phone -->
<feature name="SocialSharing">
  <param name="wp-package" value="SocialSharing"/>
</feature>

<preference name="StatusBarOverlaysWebView" value="true" />
<preference name="StatusBarBackgroundColor" value="#051271" />
<preference name="orientation" value="portrait" />
<preference name="webviewbounce" value="false" />
<preference name="UIWebViewBounce" value="false" />
<preference name="DisallowOverscroll" value="true" />
<preference name="BackupWebStorage" value="none" />
<preference name="target-device" value="universal" />
<preference name="android-minSdkVersion" value="16" />
<preference name="android-targetSdkVersion" value="21" />
<preference name="clickable" value="true" />

<!-- Core plugins -->
    <plugin name="pushwoosh-cordova-plugin" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-x-socialsharing" />
    <plugin name="cordova-plugin-email-composer" />
    <plugin name="org.apache.cordova.device" />
    <plugin name="org.apache.cordova.dialogs" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.inappbrowser" />



<feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
</feature>

<platform name="android">
              <icon src="icon.png" />            
     </platform>

<icon src="icon.png" />



     


</widget>





