<ons-page ng-controller="PostController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" ng-bind-html="item.title"></div>
    </ons-toolbar>

    <section >

        <p ng-show="{{item.attachments.length}}"><img ng-src="{{item.attachments[0].images.full.url}}"/></p>

        <h3 style="line-height: 34px;     padding-left: 6px; color: #fff;
    background: crimson;" class="title" ng-bind-html="item.title"></h3>       

        <p style=" padding-top: 20px;" ng-bind-html="content"></p>


        <ons-speed-dial ng-click="sharePost()" position="right bottom">
            <ons-fab>
                <ons-icon
                        icon="ion-android-share-alt"
                        size="40px"
                        fixed-width="false">
                </ons-icon>
            </ons-fab>
        </ons-speed-dial>

        <!--<a class="post-url" ng-href="{{item.url}}">View post</a>-->

        <!-- Open the post using the InAppBrowser plugin (org.apache.cordova.inappbrowser) -->
        <ons-button modifier="large" ng-click="loadURL('https://www.facebook.com/fetvoficial/')" class="post-show-more">
        Ver no Facebook
        </ons-button>

    </section>
    
</ons-page>
